<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>pt_BR</param-value>
	</context-param>

	<context-param>
		<param-name>br.com.caelum.vraptor.encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	
	<session-config>
    	<session-timeout>-1</session-timeout>
	</session-config> 
	
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/index/deslogado.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>br.com.remembr.bemDaora.exception.SingleSignOnException</exception-type>
		<location>/WEB-INF/jsp/index/deslogado.jsp</location>
	</error-page>
	
	<!-- error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/404.jsp</location>
	</error-page>
		
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page -->
	
	<filter>
		<filter-name>AplicacaoFilter</filter-name>
		<filter-class>br.com.remembr.bemDaora.service.sso.AplicacaoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AplicacaoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>vraptor</filter-name>
		<filter-class>br.com.caelum.vraptor.VRaptor</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>vraptor</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- filter>
		<filter-name>RecuperaSenhaFilter</filter-name>
		<filter-class>br.com.preventsenior.portalweb.filter.RecuperaSenhaFilter</filter-class>
	</filter>
	
	<filter-mapping>  
	   <filter-name>RecuperaSenhaFilter</filter-name>  
	   <url-pattern>/recuperaSenha/*</url-pattern>  
	</filter-mapping -->
	

</web-app>